name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  schedule:
    # Каждую среду в 12:30
    - cron: '30 12 * * 3'

    # Каждую пятницу в 22:00
    - cron: '0 22 * * 5'

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java: [ 11, 17, 21 ]

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read

    steps:
    - name: download the code
      uses: actions/checkout@v4
    - name: Set up JDKs
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper
    - name: Build with Gradle Wrapper and test
      run: ./gradlew build
